.video-picture {
    width: 100%;
}
.thumbnail-row {
    position: relative;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6px;
    grid-row-gap: 15px;
    position: static;
    right: 0;
    bottom: 0;
    top: 100px;
    background-color: rgb(230, 222, 213);
    z-index: 0;
} 
.sidebar {
    position: absolute;
    bottom: 9px;
    right: 5px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.discription{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}
.video-preview {
    vertical-align: top;
    margin-bottom: 8px;
}
.video-title{
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 6px;
}
.video-author {
    margin-top: 8px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
}
.video-discription {
    flex: 6;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
}
.channel-profile {
    flex: 1;
    border-radius: 50px;
    width: 42px;
    margin-right: 6px;
    margin-left: 4px;
    margin-top: 4px;
    vertical-align: top;
    align-items: center;
}